Django==1.8.3
django-bower==5.0.4
django-extensions==1.3.3
django-photologue==3.3.2
factory-boy==2.5.2
fake-factory==0.5.2
git+https://github.com/Supervisor/supervisor.git
gunicorn==19.3.0
psycopg2==2.6.1
requests==2.7.0
selenium==2.46.1
six==1.9.0
sure==1.2.13
