{% extends 'base.html' %}
{% load i18n %}

{% block head-link %}
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css"
        rel="stylesheet" />
{% endblock %}

{% block content %}
  {% include 'dashboard/index/_gallery.html' %}
  {% include 'dashboard/gallery/lightbox.html' %}
{% endblock %}

{% block footer-js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.2/js/jquery.blueimp-gallery.min.js"></script>
{% endblock %}
